/**_______________________検索バー____________**/
#retrieval{
  width: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  line-height: 40px;
  margin: auto;
  margin-bottom: 50px;
}
.retrieval-content{
  border-right: solid 1px #ccc;
}
.retrieval-content-icon{
  color: #ccc;
}
#retrieval input{
  border-style: none;
}
/**______________________index_________________**/

.index-content{
  height: 220px;
  width: 250px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 30px;
}
.index-content-img{
  height: 120px;
}
.index-content-img img{
  border-radius: 5px 5px 0 0;
}
.index-content-bottom-img{
  height: 25px;
  width: 25px;
}
/**___________________レスポンシブ_________**/
@media screen and (max-width:768px){
  #retrieval{
    width: 300px;
  }
  .index-content{
    margin: auto;
    margin-bottom: 30px;
  }
}